# <center style="background-color:black;padding:50px;border-radius:23px;"><span style="margin:5px;color:white; font-family:verdana;font-size:20px;letter-spacing:12px;word-spacing:20px"><span style="border-radius:23px; padding:0 15px;color:#42adf5;background-color:black;font-size:60px;">Video GAMES Sales</span><br> <BR> Data Analysis and Visualization</span> </center>

## **<p style="color:#42adf5;font-family:verdana;">Importing the required libraries :</p>**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **<p style="color:#42adf5;font-family:verdana;">Storing the dataset as a dataframe :</p>**

In [2]:
games = pd.read_csv("games.csv")

<hr noshade style="height:2px;">

# <center><span style="color:#42adf5;font-family:verdana;font-size:35px;border-bottom:3px solid">Data Description</span></center>

###   <span style=" color:#42adf5;font-family:verdana;"><i>First 10 rows in the dataset are :</i><span>

In [4]:
games.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [5]:
print('\033[1m'+'Shape of Dataset is : ',games.shape)
(rows, cols) = games.shape
print("Thus, the dataset has : \n",rows,' Rows\n',cols,' Columns')

Shape of Dataset is :  (16598, 11)
Thus, the dataset has :
 16598  Rows
 11  Columns

###   <span style="  color:#42adf5;font-family:verdana;"><i>Information about the Games dataset :</i></span>

In [6]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

<hr noshade style="height:2px;">

# <center><span style=" color:#42adf5;font-family:verdana;font-size:35px;border-bottom:3px solid;">Handling Missing Values</span></center>

###  <span style="color:#42adf5;font-family:verdana;"><i>Total number of null values in each column is/are :</i></span>

In [7]:
games.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

### <span style=" color:#42adf5;font-family:verdana;"><i>Checking the percentange of null values in each column is :</i></span>

In [8]:
for col in games.columns:
    null = games[col].isnull().sum()
    percentage = (null/len(games))*100
    print(col,":", percentage,"%")

Rank : 0.0 %
Name : 0.0 %
Platform : 0.0 %
Year : 1.6327268345583803 %
Genre : 0.0 %
Publisher : 0.3494396915290999 %
NA_Sales : 0.0 %
EU_Sales : 0.0 %
JP_Sales : 0.0 %
Other_Sales : 0.0 %
Global_Sales : 0.0 %

### <span style=" color:#42adf5;font-family:verdana;"><i>Replacing the null values:</i></span>

In [9]:
games['Year'].fillna(value='Not Known', inplace=True)
games['Publisher'].fillna(value='Not Known', inplace=True)

### <span style=" color:#42adf5;font-family:verdana;"><i>Checking the null values:</i></span>

In [10]:
games.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [11]:
# Converting appropriate columns to category type.
games = games.astype({'Genre': 'category'})